HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.lock

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Database files
db-data/
db-data-1/

### Typesense data
typesense-data/

### Local files
**/*-local.*
gradle.properties
.rabbitmq-erlang-cookie

# Written by ci/release-notes.sh; only CHANGELOG.md is committed.
RELEASE_NOTES.md

# Written by ci/build-docs.sh; the release workflow attaches it to the GitHub release.
server-docs-*.zip
